.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: black;
    display: inline;
    position: absolute; top: -10px;
    
    
}

.hbar{
    background-color: white;
}

.logo{
    width: 140px;
    margin-left: 30px;
}

.mainpage{
    background-color: azure;
    padding: 100px;
}

.bar{
    background-color: white;
    shape-margin: 50px;
    padding: 50px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    
}

.buttons{
    position: absolute; left: 550px;
}

.center{
    background-color: white;
    margin-left: 400px;
    margin-right: 400px;
    
}

.container{
    background-color: azure;
}

.c1{
    background-color: deepskyblue;
    border-radius: 10%;
}

.c2{
    background-color: blueviolet;
    border-radius: 10%;
    display: inline-block;
}

.c3{
    background-color: aquamarine;
    border-radius: 10%;
    display: inline-block;
}

.c4{
    background-color: orange;
    border-radius: 10%;
    display: inline-block;
}

.c5{
    background-color: deeppink;
    border-radius: 10%;
    display: inline-block;
}

.c6{
    background-color: greenyellow;
    border-radius: 10%;
    display: inline-block;
}